exportClasses(GeneSetBinomialMethods)
exportClasses(randomSample)
exportClasses(analysisData)
exportClasses(geneSetScoreTest)

export(GeneSetBinomialMethods)
export(.withWarnings)

exportMethods(show)
exportMethods(summary)
exportMethods(getExpressionData)
exportMethods(getClinicalData)
exportMethods(getGeneSets)

exportMethods(randomSample)
exportMethods(analysisDataSetup)
exportMethods(geneSetScoreTest)

import(SKAT)
import(methods)